.App {
  text-align: center;
}

.App-logo {
    margin-top: 0vmin;
    margin-bottom: 3vmin;
    height: 40vmin;
    pointer-events: none;
}

p {
    margin: 0px;
    margin-top: 2vmin;
    margin-left: 5vmin;
    margin-right: 5vmin;
}

.App-header {
  background-color: #f1c2d1;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  font-family: はれのそら明朝;
  color: black;
}

@font-face
{
    font-family: はれのそら明朝;
    src: url('https://cdn.leafscape.be/Harenosora/harenosora_web.woff2')
         format("woff2");
}

.App-link {
  color: #61dafb;
}
